.quicksand {
    font-family: "Quicksand", serif;
  
  }
  
body{
    /* margin-left: 100px; */
}
header{
    margin-left: 80px;
    margin-right: 80px;
}
/* navbar section */
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navflex{
    display: flex;
    gap: 20px;
    align-items: center;
     
    
    
}
.nav-title{
    font-size: 25px;
}
.orange{
color: orange;
}
.blue{
color: skyblue;
}
.skyblue{
   color: #05D4DF; 
}
.violet{
color: #5D58EF;
}
.nav-button{
    background-color: orange;
    color: white;
    padding:9px 30px 9px 30px;
    border: none;
    border-radius: 10px;
}
.burger-head{
    position:absolute;
    top: 50px;
    right: 30px;
    /* width: 55px;            */
}
.burger-child{
    display: flex;
    border: 1px solid black;
    height: 0px;
    width: 25px;
    margin-bottom: 6px;
    display: none;
  
    /* background-color: black */
}
/* banner section */
.banner-container{
    display: flex;
  
    justify-content: space-between;
    align-items: center;
  
}
.banner-title{
    font-size: 50px;
    font-weight: bold;
    /* border: 2px solid black; */
    
}
.banner-description{
    /* color: rgb(128, 128, 128); */
    color: rgba(0, 0, 0, 0.842);
    
}
.banner-button{
    color: white;
    background-color: black;
    border-radius: 10px;
    border: none;
    padding:9px 30px 9px 30px;
    margin-bottom: 100px;


}
/* Curriculum section */
.curriculum-title{
    text-align: center;
    font-size: 40px;
    padding-top: 55px;
}
.card-container{
    display: flex;
    justify-content: space-evenly;
}
/* card-1-section */
.card-1-container{
border-radius: 20px;
width: 20%;
height: 100%;
background-image: linear-gradient(skyblue  ,rgb(233, 231, 231) 66%);
/* padding-bottom: 50px; */
margin-bottom: 50px;
padding: 30px;

}
.card-1-img-container{
    text-align: center;
}
.card-1-title{
    text-align: center;
    color: black;
    opacity: 80%;
}
.card-1-description{
    text-align: center;
    color: gray;

}
.card-1-button{
    border: none;
    color: rgb(13, 145, 197);
    background-color:rgb(233, 231, 231);
    }
.card-1-button-container{
    text-align: center;
}
/* card-2-section */
.card-2-container{
border-radius: 20px;
width: 20%;
height: 100%;
background-image: linear-gradient(rgb(43, 123, 126)   ,rgb(233, 231, 231) 65%);
/* padding-bottom: 50px; */
margin-bottom: 50px;
padding: 30px;

}
.card-2-img-container{
    text-align: center;
}
.card-2-title{
    text-align: center;
    color: black;
    opacity: 80%;
}
.card-2-description{
    text-align: center;
    color: gray;

}
.card-2-button{
    border: none;
    color: rgb(3, 73, 100);
    background-color:rgb(233, 231, 231);
    }
.card-2-button-container{
    text-align: center;
}
/* card-3-section */
.card-3-container{
border-radius: 20px;
width: 20%;
height: 100%;
background-image: linear-gradient(violet  ,rgb(233, 231, 231) 66%);
/* padding-bottom: 50px; */
margin-bottom: 50px;
padding: 30px;



}
.card-3-img-container{
    text-align: center;
}
.card-3-title{
    text-align: center;
    color: black;
    opacity: 80%;
}
.card-3-description{
    text-align: center;
    color: gray;

}
.card-3-button{
    border: none;
    color: violet;
    background-color:rgb(233, 231, 231);
    }
.card-3-button-container{
    text-align: center;
}

main{
    background-image: url(../bg\ \(1\).png);
}

/* Our stories section */
.stories-title{
    font-size: 40px;
    text-align: center;
}
.card{
    width: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.3);
}
.card-one-img-head{
 
}
.card-one-img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    
}
.card-content{
    padding: 10px;
}
.card-one-title{
    font-weight: bold;
    color: #000000;
}
.card-one-description{
    color: #666666;
}
.date{
    
    background-color: #3CD8E8;
    width: 100%;
    padding: 5px;
    border-radius: 20px;
    color: #FFFFFF;
    text-align: center;
    position: relative;
    top: -45px;
    right: -22px;
    
}
.date-container{
    position: absolute;
}
/* card 2 */
.card-two{
    width: 200px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.3);
}
.card-two-img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.card-content-two{
    padding: 10px;
    /* border: 2px solid black; */
}
.date-two-container{
    position: absolute;
}
.date-two{
    background-color: #5D58F0;
    width: 100%;
    padding: 5px;
    border-radius: 20px;
    color: #FFFFFF;
    text-align: center;
    position: relative;
    top: -38px;
    right: -22px;
    font-size: 12px;
    /* border: 2px solid black; */
}
.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    /* margin-bottom: 100px; */
}
.card-head{
    display: flex;
    gap: 20px;
    /* text-align: center; */
    /* margin: auto; */
    justify-content: center;
    margin-bottom: 30px;
    
}
.card-two-title{
    /* border: 2px solid black; */
}
.view-button{
    color: white;
    background-color: black;
    padding: 8px 44px 8px 44px;
    border: none;
    border-radius: 8px;
    
}
.view-head{
    text-align:  center;
    margin-bottom: 50px;
}




  
 
  


/* footer section */
footer{
    background-color:#01ACFD ;
    padding-bottom: 100px;
}
.hp{
    margin-left: 100px;
}
.footer-flex{
    display: flex;
    gap: 250px;
}
.kids-flex{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.white{
    color: #FFFFFF;
    
    /* opacity: 90%; */
}
.fsize{
    font-size: 18px;
}



/* Responsive */


@media screen and (max-width:576px){
    header{
        margin: 20px;
    }
/* navbar section */

.burger-child{
    display: block;
    
}
.nav-description{
    display: none;
}
.nav-button{
    display: none;
}
.navh{
    display: none;
}
/* banner section */
.banner-container{
    flex-direction: column-reverse;
    width: 100%;
    
}
.hero-img{
    width: 100%;
}
.banner-title{
    text-align: center;
}
.banner-description{
    text-align: center;
}
.banner-button-head{
    text-align: center;
}
/* card section */
.card-container{
    flex-direction: column;
    gap: 20px;
   
}
.card-1-container{
    width: 80%;
    
    margin: auto;
}
.card-2-container{
    width: 80%;
    
    margin: auto;
}
.card-3-container{
    width: 80%;
    
    margin: auto;
}
/* 4 card */
.card-head{
    flex-direction: column;
}
.card{
    display: none;
}






















    /* footer */
    footer{
        /* margin-left: 20px; */
    }
    .hp{
        margin-left: 20px;
    }
    .footer-flex{
        flex-direction: column;
        gap: 0px;
    }
    .about-head{
        margin-left: 20px;
    }
    .keep-head{
        margin-left: 20px;
    }
}