body{
    /* margin-left: 100px; */
}
footer{
    background-color:#01ACFD ;
    padding-bottom: 100px;
}
.hp{
    margin-left: 100px;
}
.footer-flex{
    display: flex;
    gap: 250px;
}
.kids-flex{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.white{
    color: #FFFFFF;
    
    /* opacity: 90%; */
}
.fsize{
    font-size: 18px;
}

/* Responsive */
@media screen and (max-width:576px){






















    /* footer */
    footer{
        /* margin-left: 20px; */
    }
    .hp{
        margin-left: 20px;
    }
    .footer-flex{
        flex-direction: column;
        gap: 0px;
    }
    .about-head{
        margin-left: 20px;
    }
    .keep-head{
        margin-left: 20px;
    }
}